@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: hsl(212, 45%, 89%);
  }

  .container {
    width: 100vw;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 20rem;
    height: 30rem;
    border-radius: 1.5rem;
    background-color: hsl(0, 0%, 100%);
  }

  .qr-code {
    width: 100%;
    padding: 1rem;
    border-radius: 2rem;
  }

  .text {
    padding: .5rem;
    text-align: center;
    font-size: 15px;
    margin-inline: 1rem;
  }

  .title {
    font-family: 'Outfit', sans-serif;
    font-weight: 900;
    color: hsl(218, 44%, 22%);
    margin-bottom: 0rem;
    font-size: 1.3rem;
  }

  .subtitle {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    padding: .7rem;
    color: hsl(220, 15%, 55%);
    font-size: 0.9rem;
  }

  .attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }